@import 'colors';
@import 'headers';
@import 'main';
@import 'start';

html {
  background-color: $dark-yellow;
  background: linear-gradient($yellow, $dark-yellow);
  height: 100%;
}

body { 
  height: 100vh;
  margin: 0;
}
